.btn-custom {
    position: relative;
    overflow: hidden;
    font-weight: 600;
    transition: all 300ms ease;
    padding: .75rem 1.5rem; /* Adjust padding for better line height */
    height: auto; /* Allow auto height for responsiveness */
    min-height: 3rem; /* Ensure a minimum height */
    border-radius: 2rem;
    border: 0.2rem solid transparent;
    border-color: #ffffff;
    z-index: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #0b4912, #23b43b);
    text-align: center; /* Center text inside the button */
    font-size: 1rem; /* Adjust font size for better visibility */
  }
  
  .btn-custom::before {
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    z-index: -1;
    transition: all 0.5s ease;
  }
  
  .btn-custom:hover::before {
    top: 0;
  }
  
  .btn-custom:hover {
    color: white;
    transform: scale(1.05);
    cursor: pointer;
  }

  .box-custom {
    position: relative;
    overflow: hidden;
    font-weight: 600;
    transition: all 300ms ease;
    padding: 2rem; /* more padding for larger box content */
    border-radius: 12px; /* softer corners for boxes */
    border: 0.25rem solid transparent;
    border-color: #ffffff;
    background: #051901; /* blue gradient */
    box-shadow: 0 4px 30px rgba(255, 255, 255, .3), /* Outer soft glow */
    0 0 20px rgba(255, 255, 255, 0.2),  /* Middle stronger glow */
    inset 0 0 15px rgba(255, 255, 255, 0.2); /* Inner glow */
    color: white;
    text-align: center;
  }
  
  .box-custom:hover {
    cursor: pointer;
  }
  
  .box-custom h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .box-custom p {
    font-size: 1rem;
    line-height: 1.5;
  }
  